@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white;
}
.section-padding {
  @apply py-16 md:py-24;
}

.section-title {
  @apply text-3xl md:text-4xl font-semibold tracking-tight mb-4;
}

.section-subtitle {
  @apply text-sm uppercase tracking-[0.25em] text-slate-500 dark:text-slate-400 mb-2;
}
